# scheduler:
#   target: diffusers.DDIMScheduler
#   num_inference_timesteps: 50
#   eta: 0.0
#   params:
#     num_train_timesteps: 1000
#     beta_start: 0.00085
#     beta_end: 0.012
#     beta_schedule: 'scaled_linear' # Optional: ['linear', 'scaled_linear', 'squaredcos_cap_v2']
#     clip_sample: false # clip sample to -1~1
#     set_alpha_to_one: false
#     steps_offset: 1
#     prediction_type: 'epsilon' # Optional: ['epsilon', 'sample']

# noise_scheduler:
#   target: diffusers.DDPMScheduler
#   params:
#     num_train_timesteps: 1000
#     beta_start: 0.00085
#     beta_end: 0.012
#     beta_schedule: 'scaled_linear' # Optional: ['linear', 'scaled_linear', 'squaredcos_cap_v2']
#     variance_type: 'fixed_small'
#     clip_sample: false # clip sample to -1~1
#     prediction_type: 'epsilon' # Optional: ['epsilon', 'sample']

scheduler:
  target: diffusers.FlowMatchEulerDiscreteScheduler
  num_eval_steps: 51
  num_demo_steps: 201
  params:
    num_train_timesteps: 1000

noise_scheduler:
  target: diffusers.FlowMatchEulerDiscreteScheduler
  params:
    num_train_timesteps: 1000
